@model  AdminProductAttributeViewModel
@{
    ViewBag.Title = "Các thuộc tính sản phẩm";
}

@Html.Partial("_TopMenu", ModulConfig.ProductManage)


<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
        <a class="btn btn-mvc-green" href="@Url.Action("CreateAttribute")" style="float:right;">Thêm thuộc tính</a>
    </div>
    <div class="panel-content">
        <div id="container">
            <div class="tablescroll">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px">Edit</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th style="width:50px">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var it in Model.ListProductAttribute)
                        {
                            <tr>
                                <td>
                                    <span>
                                        <a href="@Url.Action("EditAttribute", new { id = it.Id })" class="btn-mvc">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </span>
                                </td>
                                <td>@it.LangName</td>
                                <td>@it.ValueType.ToString().Replace("0", "Text").Replace("1", "Number").Replace("2", "Option")</td>
                                <td>
                                    @if (!it.IsLock)
                                    {
                                        <a href="@Url.Action("DelAttribute", new { id = it.Id })" class="btn-mvc">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

