@model AdminCarouselsViewModel
@{
    ViewBag.Title = "Danh sách Carousel";
}

@Html.Partial("_CarouselNavButtons")

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        <div id="container">
            <div class="tablescroll">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px">Sửa</th>
                            <th>Tên Carousel</th>
                            <th style="width:50px">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var it in Model.Carousels)
                        {
                            <tr>
                                <td>
                                    <span>
                                        <a href="@Url.Action("Edit", new { id = it.Id })" class="btn-mvc">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </span>
                                </td>
                                <td>@it.Name</td>
                                <td>
                                    <a href="@Url.Action("Del", new { id = it.Id })" class="btn-mvc">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

