@model  ShoppingCartViewModel

@{
    ViewBag.Title = "Đặt hàng";
}


@Html.Partial("_ShoppingCartNavButtons")


<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        <div id="container">
             <div class="tablescroll">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px">Sửa</th>
                            <th>Tên đầy đủ</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th style="width:150px">Trạng thái</th>
                            <th style="width:150px">Ngày đăng</th>
                            <th style="width:50px">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var it in Model.shoppingCarts)
                        {
                        <tr>
                            <td>
                                <span>
                                    <a href="@Url.Action("Edit", new { id = it.Id })" class="btn-mvc">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </span>
                            </td>
                            <td>@it.Name</td>
                            <td>@it.Phone</td>
                            <td>@it.Email</td>
                            <td>@(it.Status.ToString().Replace("0","Chờ duyệt").Replace("1", "Liên lạc khách hàng").Replace("2", "Đang giao hàng").Replace("3", "Hoàn thành giao dịch").Replace("4", "Hủy bỏ giao dịch") )</td>
                            <td>@it.CreateDate.ToString("hh:mm dd/MM/yyyy")</td>
                            <td>
                                <a href="@Url.Action("Delete", new { id = it.Id })" class="btn-mvc">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("_Paging",Model.Paging)
        </div>
    </div>
</div>

