@model AdminEditRoleViewModel
@{
    ViewBag.Title = "Sửa thông tin chức vụ";
}
@Html.Partial("_MembersNavButtons")

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.RoleName)
            @if (Model.Lock)
            {
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            }
            else
            {
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
            }
            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
        </div>

            <div class="form-group">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th style="width:30px">Check</th>
                        <th>Tên quyền hạn</th>
                    </tr>
                    @if (Model.AllPermissions != null)
                    {
                        for (int i = 0; i < Model.AllPermissions.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="AllPermissions[@i].Id" value="@Model.AllPermissions[i].Id" id="AllPermissions_@(i)_id" />
                                    <input type="hidden" name="AllPermissions[@i].PermissionId" value="@Model.AllPermissions[i].PermissionId" id="AllPermissions_@(i)_PermissionId" />
                                    <input type="hidden" name="AllPermissions[@i].PermissionName" value="@Model.AllPermissions[i].PermissionName" id="AllPermissions_@(i)_PermissionName" />
                                    <input type="checkbox" value="true" name="AllPermissions[@i].Check" id="AllPermissions_@(i)_Check" @Html.Raw(Model.AllPermissions[i].Check ? "checked=\"checked\"" : "") />
                                </td>
                                <td>@Model.AllPermissions[i].PermissionName</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Cập nhật" />
            </div>
        }
    </div>
</div>

