@model  AdminCreateEditTopicViewModel

@{
    ViewBag.Title = "Đăng bài viết";
}

@Html.Partial("_TopMenu", ModulConfig.NewsManage)

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        <div id="container">
            @using (Html.BeginForm("Create", "AdminTopic", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.Partial("_FieldsCreateEditTopic", Model)

                <div class="submit-holder">
                    <input type="submit" class="btn-mvc-green btn-mvc-large" value="Đăng bài" />
                </div>
            }
        </div>
    </div>
</div>
