@model  AdminTopicListViewModel

@{
    ViewBag.Title = "List Topic";
}

@Html.Partial("_TopMenu",ModulConfig.NewsManage)


<div class="panel">
    <div class="panel-heading">
        <h5>List Topic</h5>
    </div>
    <div class="panel-content">
        <div id="container">
            <form method="get">
                <div class="row">
                    <div class="col-xs-5" style="margin-bottom:10px">
                        <select name="catid" class="form-control">
                            <option value="">Tất cả nhóm tin</option>
                            @foreach (var it in AppHelpers.Categories(false))
                            {
                                <option value="@it.Id" @(Model.Cat?.Id == it.Id?"selected=selected":"")>@it.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-5" style="margin-bottom:10px">
                        <input name="seach" class="form-control" value="@Model.Seach" placeholder="Nhập từ khóa tìm kiếm" />
                    </div>
                    <div class="col-xs-2" style="margin-bottom:10px">
                        <input type="submit" class="btn btn-primary" style="width:100%" value="Tìm kiếm" />
                    </div>
                </div>
            </form>
            <div class="tablescroll">
                <table class="table table-bordered table-striped" style="min-width:800px;">
                    <thead>
                        <tr>
                            <th style="width:50px">Sửa</th>
                            <th>Title</th>
                            <th style="width:130px">Nhóm tin</th>
                            <th style="width:130px">Ngày đăng</th>
                            <th style="width:110px">Người đăng</th>
                            <th style="width:50px">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var it in Model.ListTopic)
                        {
                            <tr>
                                <td>
                                    <span>
                                        <a href="@Url.Action("Edit", new { id = it.Id })" class="btn-mvc">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </span>
                                </td>
                                <td>@it.Name</td>
                                <td>@(it.GetCatergory()?.Name)</td>
                                <td>@it.CreateDate.ToString("hh:mm dd/MM/yyyy")</td>
                                <td>@AppHelpers.GetMembersAccount((Guid)it.MembershipUser_Id)</td>
                                <td>
                                    <a href="@Url.Action("Del", new { id = it.Id })" class="btn-mvc">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("_Paging", Model.Paging)
        </div>
    </div>
</div>

