@model  MainDashboardNavViewModel
@{
    var currentController = TempData[AppConstants.CurrentController].ToString();
    var currentAction = TempData[AppConstants.CurrentAction].ToString();
}
<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @*<li>
                <a href="@Url.Action("Index", "PrivateMessage", new { area = "" })">
                    <i class="fa fa-fw fa-envelope"></i> Tin nhắn riêng
                    @if (Model.PrivateMessageCount > 0)
                    {
                        <span class="badge">@Model.PrivateMessageCount</span>
                    }
                </a>
            </li>*@
            <li>
                <a href="@Url.Action("ChangeInfo", "AdminMembers")"><i class="fa fa-fw fa-info"></i> Đổi thông tin tài khoản</a>
            </li>
            <li>
                <a href="@Url.Action("ChangePass", "AdminMembers")"><i class="fa fa-fw fa-key"></i> Đổi mật khẩu</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("Logout", "AdminMembers")"><i class="fa fa-fw fa-power-off"></i> Đăng xuất</a>
            </li>
        </ul>
    </li>
</ul>
<div class="collapse navbar-collapse mvcforum-nav">
    <ul class="nav navbar-nav side-nav">
        @{ 
            int subMenuIndex = 0;
        }
        @foreach(var menu in ModulConfig.AdminMenu)
        {
            if (menu.isHidden) { continue; }
        <li>
            @if (menu.SubMenu == null || menu.SubViewMenuCount() < 1)
            {
                <a href="@Url.Content(menu)" @(menu.IsActive(currentController,currentAction) ? "class=active" : "")>
                    <i class="fa fa-fw @menu.IconMenu"></i> @menu.MenuName
                </a>
            } else
            {
                <a href="@Url.Content(menu)" data-toggle="collapse" data-target="#submenu@(subMenuIndex)" @(menu.IsActive(currentController,currentAction) ? "class=active" : "")>
                    <i class="fa fa-fw @menu.IconMenu"></i> @menu.MenuName <i class="fa fa-fw fa-caret-down"></i>
                </a>
                <ul id="submenu@(subMenuIndex++)" class="collapse @(menu.IsActive(currentController,currentAction) ? "in" : "")">
                    @foreach(var it in menu.SubMenu)
                    {
                        if (it.isHidden) { continue; }
                    <li>
                        <a href="@Url.Content(it)" class="@(it.IsActive(currentController,currentAction) ? "active" : "")">
                            @it.MenuName
                        </a>
                    </li>
                    }
                </ul>
                    }
            </li>
        }


        @*<li>
            <a href="@Url.Action("Index", "AdminMenu", new { area = "Admin" }, null)" class="@(currentController == "adminmenu" ? "active" : "")">
                <i class="fa fa-fw fa-bars"></i> Menus
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AdminCategory", new { area = "Admin" }, null)" class="@(currentController == "admincategory" ? "active" : "")">
                <i class="fa fa-fw fa-folder-open-o"></i> Danh mục
            </a>
        </li>*@
        @*<li>
            <a href="#" data-toggle="collapse" data-target="#NewsManage">
                <i class="fa fa-fw fa-file-text-o"></i> Quản lý bài viết <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="NewsManage" class="collapse" @(currentController == "topic" ? "in" : "")">
                <li>
                    <a href="@Url.Action("Index", "Topic", new { area = "Admin" })" class="@(currentController == "topic" && currentAction == "index" ? "active" : "")">
                        Bài viết
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MoveTags", "AdminTag", new { area = "Admin" }, null)" class="@(currentController == "admintag" && currentAction == "movetags" ? "active" : "")">
                        Danh mục bài viết
                    </a>
                </li>
            </ul>

        </li>*@
        @*<li>
            <a href="@Url.Action("Index", "AdminTopic", new { area = "Admin" }, null)" class="@(currentController == "admintopic" ? "active" : "")">
                <i class="fa fa-fw fa-file-text-o"></i> Bài viết
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AdminProduct", new { area = "Admin" }, null)" class="@(currentController == "adminproduct" ? "active" : "")">
                <i class="fa fa-fw fa-file-text-o"></i> Sản phẩm
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "ShoppingCart", new { area = "Admin" }, null)" class="@(currentController == "shoppingcart" ? "active" : "")">
                <i class="fa fa-fw fa-file-text-o"></i> Đặt hàng
            </a>
        </li>*@
        @*<li>
            <a href="@Url.Action("Index", "AdminBooking", new { area = "Admin" }, null)" class="@(currentController == "adminbooking" ? "active" : "")">
                <i class="fa fa-fw fa-user-plus"></i> Đặt phòng
            </a>
        </li>*@
        @*<li>
            <a href="@Url.Action("Index", "AdminContact", new { area = "Admin" }, null)" class="@(currentController == "admincontact" ? "active" : "")">
                <i class="fa fa-fw fa-envelope"></i> Liên hệ
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AdminCarousel", new { area = "Admin" }, null)" class="@(currentController == "admincarousel" && currentAction == "index" ? "active" : "")">
                <i class="fa fa-fw fa-picture-o"></i> Carousel
            </a>
        </li>*@
        @*<li>
            <a href="#" data-toggle="collapse" data-target="#tags">
                <i class="fa fa-fw fa-tags"></i> Tags <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="tags" class="collapse">
                <li>
                    <a href="@Url.Action("Index", "AdminTag", new { area = "Admin" })" class="@(currentController == "admintag" && currentAction == "index" ? "active" : "")">
                        Manage Tags
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MoveTags", "AdminTag", new { area = "Admin" }, null)" class="@(currentController == "admintag" && currentAction == "movetags" ? "active" : "")">
                        Change Tags On Topics
                    </a>
                </li>
            </ul>

        </li>*@
        @*<li>
            <a href="@Url.Action("Index", "AdminBadge", new { area = "Admin" })" class="@(currentController == "adminbadge" && currentAction == "index" ? "active" : "")">
                <i class="fa fa-fw fa-trophy"></i> Badges
            </a>
        </li>*@
        @*<li>
            <a href="@Url.Action("Index", "AdminEmployees", new { area = "Admin" }, null)" class="@(currentController == "adminemployees" ? "active" : "")">
                <i class="fa fa-fw fa-user-plus"></i> Nhân viên
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Permissions", new { area = "Admin" }, null)" class="@(currentController == "permissions" ? "active" : "")">
                <i class="fa fa-fw fa-check-square-o"></i> Quản lý quyền hạn
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AdminMembers", new { area = "Admin" }, null)" class="@(currentController == "adminmembers" ? "active" : "")">
                <i class="fa fa-fw fa-users"></i> Quản lý tài khoản
            </a>
        </li>*@
        @*<li>
            <a href="#" data-toggle="collapse" data-target="#spam">
                <i class="fa fa-fw fa-frown-o"></i> Spam Prevention <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="spam" class="collapse">
                <li>
                    <a href="@Url.Action("Index", "BannedEmail", new { area = "Admin" })" class="@(currentController == "bannedemail" && currentAction == "index" ? "active" : "")">Ban Emails</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "BannedWord", new { area = "Admin" })" class="@(currentController == "bannedword" && currentAction == "index" ? "active" : "")">Banned &amp; Stop Words</a>
                </li>
                <li>
                    <a href="@Url.Action("Akismet", "AdminSpam", new { area = "Admin" })" class="@(currentController == "adminspam" && currentAction == "akismet" ? "active" : "")">Akismet</a>
                </li>
                <li>
                    <a href="@Url.Action("RegistrationQuestion", "AdminSpam", new { area = "Admin" })" class="@(currentController == "adminspam" && currentAction == "registrationquestion" ? "active" : "")">Registration Question</a>
                </li>
                <li>
                    <a href="@Url.Action("SpamReporting", "AdminSpam", new { area = "Admin" })" class="@(currentController == "adminspam" && currentAction == "spamreporting" ? "active" : "")">Spam Reporting</a>
                </li>
            </ul>
        </li>*@
        @*<li>
            <a href="#" data-toggle="collapse" data-target="#settings" class="@(currentController == "setting" ? "active" : "")">
                <i class="fa fa-fw fa-cogs"></i> Cài đặt hệ thống <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="settings" class="collapse @(currentController == "setting" ? "in" : "")">
                <li>
                    <a href="@Url.Action("Email", "Setting", new { area = "Admin" }, null)" class="@(currentController == "setting" && currentAction == "email" ? "active" : "")">
                        Email
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Registration", "Setting", new { area = "Admin" }, null)" class="@(currentController == "setting" && currentAction == "registration" ? "active" : "")">
                        Đăng ký
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Language", "Setting", new { area = "Admin" }, null)" class="@(currentController == "setting" && currentAction == "language" ? "active" : "")">
                        Ngôn ngữ
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Themes", "Setting", new { area = "Admin" }, null)" class="@(currentController == "setting" && (currentAction == "themes" || currentAction == "themeconfig" )? "active" : "")">
                        Chủ đề
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CustomCode", "Setting", new { area = "Admin" }, null)" class="@(currentController == "setting" && currentAction == "customcode"? "active" : "")">
                        Mã tùy chỉnh
                    </a>
                </li>
            </ul>
        </li>*@
        @*<li>
            <a href="#" data-toggle="collapse" data-target="#language" class="@(currentController == "adminlanguage" ? "active" : "")">
                <i class="fa fa-fw fa-language"></i> Đa ngôn ngữ <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="language" class="collapse @(currentController == "adminlanguage" ? "in" : "")">
                <li>
                    <a href="@Url.Action("Create", "AdminLanguage", new { area = "Admin" })" class="@(currentController == "adminlanguage" && currentAction == "create" ? "active" : "")">Thêm ngôn ngữ</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "AdminLanguage", new { area = "Admin" })" class="@(currentController == "adminlanguage" && (currentAction == "index" || currentAction == "managelanguageresourcevalues") ? "active" : "")">Sửa ngôn ngữ</a>
                </li>
                <li>
                    <a href="@Url.Action("ImportExport", "AdminLanguage", new { area = "Admin" })" class="@(currentController == "adminlanguage" && currentAction == "importexport" ? "active" : "")">Import / Export</a>
                </li>
            </ul>
        </li>*@
        @*<li>
            <a href="#" data-toggle="collapse" data-target="#batch">
                <i class="fa fa-fw fa-bolt"></i> Batch Tools <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="batch" class="collapse">
                <li>
                    <a href="@Url.Action("BatchDeleteMembers", "Batch", new { area = "Admin" }, null)" class="@(currentController == "batch" && currentAction == "batchdeletemembers" ? "active" : "")">Batch Delete Members</a>
                </li>
                <li>
                    <a href="@Url.Action("BatchMoveTopics", "Batch", new { area = "Admin" }, null)" class="@(currentController == "batch" && currentAction == "batchmovetopics" ? "active" : "")">Batch Move Topics</a>
                </li>
                <li>
                    <a href="@Url.Action("BatchDeletePrivateMessages", "Batch", new { area = "Admin" }, null)" class="@(currentController == "batch" && currentAction == "batchdeleteprivatemessages" ? "active" : "")">Batch Delete Private Messages</a>
                </li>
            </ul>
        </li>*@
        @*<li>
            <a href="@Url.Action("Index", "Log", new { area = "Admin" })" class="@(currentController == "log" && currentAction == "index" ? "active" : "")"><i class="fa fa-fw fa-file-text-o"></i> Log</a>
        </li>*@
    </ul>
</div>