@model WebMvc.Domain.DomainModel.Entities.MembershipUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>MembershipUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLockedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLockedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBanned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBanned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPasswordChangedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPasswordChangedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLockoutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLockoutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastActivityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastActivityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedPasswordAttemptCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedPasswordAttemptCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedPasswordAnswerAttempt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedPasswordAnswerAttempt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordResetToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordResetToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordResetTokenCreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordResetTokenCreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookAccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookAccessToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterAccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterAccessToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogleAccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleAccessToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MicrosoftAccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MicrosoftAccessToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MicrosoftId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MicrosoftId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExternalAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExternalAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwitterShowFeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterShowFeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginIdExpires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginIdExpires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscAccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscAccessToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisableEmailNotifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisableEmailNotifications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisablePosting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisablePosting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisablePrivateMessages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisablePrivateMessages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisableFileUploads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisableFileUploads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAgreedToTermsAndConditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAgreedToTermsAndConditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
