@{ 
    var Carousels = AppHelpers.Carousels();
}
<div id="content_top_right">
    <script type="text/javascript" src="@Html.ThemeUrl()/Content/script/owl.carousel.js"></script>
    <!--<div class="video"><iframe width="320" height="240" src="3Htgi31GThI" frameborder="0" allowfullscreen></iframe></div>-->
    <div class="video">
        <iframe width="250" height="190" src="//www.youtube.com/embed/@(ThemesSetting.getValue("YoutobeVideoID"))?autoplay=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="banner-right-slider">

        <img border="0" src="@Html.ThemeUrl()/Content/media/banner/22_Aprb5792668751e9602e657fb06f5b83e05.gif" width="247" height="113" alt="" style="display: none !important;">

    </div>
</div>


<div id="container_slider">
    <div id="slider">
        <div id="sync1" class="owl-carousel owl-theme">
            @foreach (var it in Carousels)
            {
                <div class="item"><a href="@it.Link" target='_blank' rel='nofollow'><img border=0 src="@it.Image" width='716' height='252' alt="@it.Name" /></a></div>
            }
        </div>
        <div id="sync2" class="owl-carousel">
            @foreach (var it in Carousels)
            {
            <div class="item">
                <span>@it.Name.ToUpper()</span>
            </div>
            }
        </div>
    </div>
    <div class="clear space"></div>
</div><!--container_slider-->
<script>
    //slider home
    $(document).ready(function () {
        if ($("#sync2").length > 0) {
            var sync1 = $("#sync1");
            var sync2 = $("#sync2");

            sync1.owlCarousel({
                singleItem: true,
                autoPlay: 4000,
                slideSpeed: 1000,
                stopOnHover: true,
                lazyLoad: true,
                navigation: false,
                pagination: false,
                afterAction: syncPosition,
                responsiveRefreshRate: 200,
            });

            sync2.owlCarousel({
                items: 4,
                pagination: false,
                responsiveRefreshRate: 100,
                afterInit: function (el) {
                    el.find(".owl-item").eq(0).addClass("synced");
                }
            });

            function syncPosition(el) {
                var current = this.currentItem;
                $("#sync2")
                    .find(".owl-item")
                    .removeClass("synced")
                    .eq(current)
                    .addClass("synced")
                if ($("#sync2").data("owlCarousel") !== undefined) {
                    center(current)
                }
            }

            $("#sync2").on("click", ".owl-item", function (e) {
                e.preventDefault();
                var number = $(this).data("owlItem");
                sync1.trigger("owl.goTo", number);
            });

            function center(number) {
                var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
                var num = number;
                var found = false;
                for (var i in sync2visible) {
                    if (num === sync2visible[i]) {
                        var found = true;
                    }
                }

                if (found === false) {
                    if (num > sync2visible[sync2visible.length - 1]) {
                        sync2.trigger("owl.goTo", num - sync2visible.length + 2)
                    } else {
                        if (num - 1 === -1) {
                            num = 0;
                        }
                        sync2.trigger("owl.goTo", num);
                    }
                } else if (num === sync2visible[sync2visible.length - 1]) {
                    sync2.trigger("owl.goTo", sync2visible[1])
                } else if (num === sync2visible[0]) {
                    sync2.trigger("owl.goTo", num - 1)
                }

            }
        }

    });

</script>

<div class="clear space"></div>
<div id="banner_cs_home">

</div>
<div class="clear"></div>