@{
    var allmenus = AppHelpers.GetAllMenus();
    List<Menu> menus;
    var rootid = ThemesSetting.getValue("MainMenu").ToString();
    if (rootid == "")
    {
        menus = allmenus.Where(x => x.Menu_Id == null).ToList();
    }
    else
    {
        menus = allmenus.Where(x => x.Menu_Id == new Guid(rootid)).ToList();
    }
}
<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="_w-container w-container">
        <div class="btn-search m-togSex">
            <span class="icon-search"></span>
        </div>
        <a href="" class="brand w-nav-brand" title="ĐÈN CHÍNH HÃNG - NHÀ NHẬP KHẨU VÀ PHÂN PHỐI ĐÈN TRANG TRÍ">
            <img src="@Html.ThemeUrl()/Content/Logo/denchinhhang4.png" alt="ĐÈN CHÍNH HÃNG - NHÀ NHẬP KHẨU VÀ PHÂN PHỐI ĐÈN TRANG TRÍ">
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <ul class="main-menu">
                @foreach (var it in menus)
                {
                    <li class="nav-link w-nav-link">
                        <a href="@AppHelpers.GetLinkByMenu(it)" title="@it.Name.ToUpper()">@it.Name.ToUpper()</a>
                        <ul>
                            @foreach (var sub1 in allmenus.Where(x => x.Menu_Id == it.Id).ToList())
                            {
                                <li><a href="@AppHelpers.GetLinkByMenu(sub1)" title="@sub1.Name.ToUpper()">@sub1.Name.ToUpper()</a></li>
                            }
                        </ul>
                    </li>
                }
                <li class="nav-link-9 w-nav-link posire">
                    <a class="togSex" href="javascript:;" title="timkiem" rel="nofollow">
                        <span class="search"></span>
                    </a>
                    <div class="posiab togShow">
                        <div class="from-email">
                            <form action="tim-kiem" class="box-mail" method="post">
                                <input type="text" name="s" class="mail-input" placeholder="Tìm kiếm ..." required="required">
                                <button type="submit" class="mail-submit"><span class=""></span></button>
                            </form>
                        </div>
                    </div>
                </li>
                <div class="div-block-28">
                    <a href="@Url.Action("Commit","Cart")" class="nav-link-7 w-nav-link" rel="nofollow">
                        <span class="text-span-11"></span>
                    </a>
                    <div class="numbercart">
                        <a id="numbercart_out" href="@Url.Action("Commit","Cart")" target="_blank" class="link-8" rel="nofollow"> @AppHelpers.GetCountShoppingCart() </a>
                    </div>
                </div>
            </ul>
        </nav>
        <div class="menu-button-2 w-nav-button">
            <span class="text-menu">Menu</span>
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="posiab m-togShow">
        <div class="from-email">
            <form action="tim-kiem" class="box-mail" method="post">
                <input type="hidden" name="csrf_enuy_name" value="0826054cbbed30004e48db9f9de2d015">
                <input type="hidden" name="csrf_enuy_name" value="0826054cbbed30004e48db9f9de2d015">
                <input type="hidden" name="csrf_enuy_name" value="0826054cbbed30004e48db9f9de2d015">
                <input type="text" name="s" class="mail-input" placeholder="Tìm kiếm ..." required="required">
                <button type="submit" class="mail-submit"><span class=""></span></button>
            </form>
        </div>
    </div>
</div>