@{ 
    var Carousels = AppHelpers.Carousels();

    var id = ThemesSetting.getValue("HomeSlider");
    if (id != null && !id.ToString().IsNullEmpty())
    {
        Guid guid = new Guid(id.ToString());
        Carousels = Carousels.Where(x => x.Carousel_Id == guid).ToList();
    } else
    {
        Carousels = Carousels.Where(x => x.Carousel_Id == null).ToList();
    }

}

<div id="content_top_right">
    <script type="text/javascript" src="@Html.ThemeUrl()/Content/script/owl.carousel.js"></script>
    <!--<div class="video"><iframe width="320" height="240" src="3Htgi31GThI" frameborder="0" allowfullscreen></iframe></div>-->
    <div class="video">
        <iframe width="250" height="190" src="//www.youtube.com/embed/@(ThemesSetting.getValue("YoutobeVideoID"))?autoplay=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="banner-right-slider">

        <img border="0" src="@Html.ThemeUrl()/Content/media/banner/22_Aprb5792668751e9602e657fb06f5b83e05.gif" width="247" height="113" alt="" style="display: none !important;">

    </div>
</div>


<div id="container_slider">
    <style>
        .camera_wrap a {
            color: white;
            text-decoration: none;
            font-weight:bold;
            font-size:20px;
        }
    </style>
    <div class="camera_wrap camera_azure_skin" id="slider">
        @for (int i = 0; i < Carousels.Count; i++)
        {
            <div data-thumb="@AppHelpers.ImageCropUrl(Carousels[i].Image,720,306)" data-src="@AppHelpers.ImageCropUrl(Carousels[i].Image,720,306)">
                <div class="camera_caption fadeFromBottom">
                    <a  href="@Carousels[i].Link">@Carousels[i].Name</a>
                </div>
            </div>
        }
    </div>
    <script>
        jQuery(function () {

            jQuery('#slider').camera({
                thumbnails: false,
                pagination: false,
                height: "306px",
            });
        });
    </script>
    <div class="clear space"></div>
</div><!--container_slider-->

    <div class="clear space"></div>
    <div id="banner_cs_home">

    </div>
    <div class="clear"></div>
