@model CategoryViewModel
@{
    ModulConfig.AdminMenuItem[] _Menu;
    if (Model.IsProduct)
    {
        ViewBag.Title = "Tạo nhóm sản phẩm";
        _Menu = ModulConfig.ProductManage;
    } else
    {
        ViewBag.Title = "Tạo nhóm bài viết";
        _Menu = ModulConfig.NewsManage;
    }
}

@Html.Partial("_TopMenu",_Menu)

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm(Model.IsProduct?"NewCatProduct":"NewCatNews", "AdminCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()

            @Html.Partial("_CategoryFields", Model)

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Khởi tạo" />
            </div>
        }
    </div>
</div>

