@model  CategoryViewModel
@{
    ModulConfig.AdminMenuItem[] _Menu;
    if (Model.IsProduct)
    {
        ViewBag.Title = "Sửa nhóm sản phẩm";
        _Menu = ModulConfig.ProductManage;
    } else
    {
        ViewBag.Title = "Sửa nhóm bài viết";
        _Menu = ModulConfig.NewsManage;
    }
}

@Html.Partial("_TopMenu",_Menu)

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm(Model.IsProduct?"EditCatProduct":"EditCatNews", "AdminCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(false)
            @Html.HiddenFor(model => model.Id)

            @Html.Partial("_CategoryFields", Model)

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Update" />
                <a href="@Url.Action("DeleteCategoryConfirmation", new { id = Model.Id })" class="btn-mvc btn-mvc-large" role="button">Delete</a>
            </div>
        }

    </div>
</div>

