@model  ProductViewModel
@using System.Collections
@{
    ViewBag.Title = string.Concat(Model.product.Name, " - ", Model.Cat.Name);

    var val = AppHelpers.ProductValues(Model.product);
    string price = "Liên hệ";
    string Price = "0";
    string guarantee = "";
    string showProperti = "";

    foreach (DictionaryEntry it in val)
    {
        var item = (ProductValueViewModel)it.Value;
        switch (it.Key.ToString())
        {
            case "Price":
                Price = item.Value;
                try
                {
                    price = int.Parse(Price).ToString("N0").Replace(",", ".");
                }
                catch { }
                break;
            case "Guarantee":
                guarantee = item.Value;
                break;
            default:
                if (item.IsShow)
                {
                    showProperti = string.Concat(showProperti, "<b>", it.Key, ":</b> ", item.Value, "<br/>");
                }
                break;
        }
    }


    var img = Model.product.Image.Split('|');
    string img1 = "";
    if (img.Length > 0)
    {
        img1 = img[0];
    }
}

<link rel="stylesheet" href="@Html.ThemeUrl()/Content/script/magiczoom.css" type="text/css" />
<script type="text/javascript" src="@Html.ThemeUrl()/Content/script/magiczoom.js"></script>
<script type="text/javascript" src="@Html.ThemeUrl()/Content/script/scrollToFixed.js"></script>
<script type="text/javascript">
    MagicZoom.options = {
        'selectors-change': 'click',
        'right-click': true,
        'disable-zoom': false,
        'fit-zoom-window': false,
        'zoom-width': 450,
        'zoom-height': 450
    };
</script>
<div class="container">
    <div id="location">
        <a href="/"><i class="bg icon_home"></i></a>
        <span>»</span><a href="/san-pham">Sản phẩm</a>
        <span>»</span><a href="@Url.Action("ShowBySlugProduct","Category",new { slug = Model.Cat.Slug })">@Model.Cat.Name</a>
        <span>»</span><a href="">@Model.product.Name</a>
    </div>

    <div id="pro_detail_page">
        <div id="product_detail">
            <div id="wrap_scroll" style="width:350px; float:left;">
                <div id="img_detail" class="p-item0" data-id="2240">
                    <div id="img_large" class="container-icon" style="position:relative;">
                        <a class="MagicZoom" id="Zoomer" rel="selectors-effect-speed: 600" href="@img1" title="Click để xem ảnh lớn">
                            <img src="@img1" title="Click để xem ảnh lớn" alt="@Model.product.Name" />
                        </a>
                    </div>
                    <ul id="img_thumb" class="ul">
                        @for (int i = 0; i < img.Length; i++)
                        {
                            <li>
                                <a class="img_thumb" href="@img[i]" rel="zoom-id:Zoomer;" rev="@img[i]">
                                    <img src="@img[i]" />
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="name_show">@Model.product.Name</div>

                    <div class="clear"></div>
                </div><!--img_detail-->

            </div><!--wrap_scroll-->
            <div id="overview">
                <h1>@Model.product.Name</h1>
                <p class="float_l red">Mã SP: 0</p>
                <p class="float_r"><i class="bg icon_fav"></i><a href="javascript:user_like_content(2240, 'pro');">Lưu sản phẩm yêu thích</a> </p>
                <div class="hori_line"></div>
                <div class="table_div">
                    <div class="cell">
                        <table>
                            <tr>
                                <td>
                                    <b>Đánh giá:</b> <img src="@Html.ThemeUrl()/Content/images/star_0.png" alt="rate">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b>Lượt xem: </b>@Model.product.Views lượt
                                </td>
                            </tr>

                            <tr>
                                <td><b>Bảo hành:</b> @guarantee <br /> </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Giao hàng:</b><br />
                                    @*<span style="margin-left: 62px; font-size: 15px">
                                            - Miễn phí giao hàng (trong nội thành) cho đơn hàng từ 1tr trở lên
                                        </span><br />
                                        <span style="margin-left: 62px; font-size: 15px">
                                            - Giao hàng và lắp đặt miễn phí cho các bộ case lắp tản nhiệt nước tại HN.
                                        </span><br />*@

                                </td>
                            </tr>
                        </table>
                    </div><!--cell-->
                    <div class="space2"></div>
                    <!--div class="cell" style="padding-left:10px; padding-top:10px;">
                          <b>Thương hiệu</b>

                      </div-->
                    <!--Phan thong tin sp ben phai anh SP-->



                    <div class="line"></div>
                    <div id="price_detail" style="border:none;">
                        <div class="price_detail_left">
                            <div class="img_price_full" style="float:left;">@price</div>
                            <br>
                            <div class="clear"></div>
                        </div>
                        <div class="price_detail_left_vat"></div>
                    </div><!--price_detail-->
                    @*<div id="offer_detail" style="">
                            <b style="color:#e00; font-weight: bold; font-size: 15px">QUÀ TẶNG / KHUYẾN MẠI</b><br />
                            <span style="color:#056bad; font-weight: normal; font-size: 15px;">
                                01 bộ XIGMATEK GALAXY PREMIUM - EN40223 - (CH120+CHB1) - RGB: RAINBOW (PACK x3, CONTROLLER, POWER HUB)<br />

                            </span>
                        </div>*@

                </div><!--table_div-->


                <div class="clear"></div>




                <div id="button_buy">
                    <a style="margin-left:0" href="javascript:ShoppingCart.AddProduct('@Model.product.Id');ShoppingCart.goToCartPage();" class="btn_large_red">
                        <span>Đặt mua ngay</span> Giao hàng tận nơi nhanh chóng
                    </a>
                    <a href="javascript:void(0);" onclick="javascript:ShoppingCart.AddProduct('@Model.product.Id');" class="btn_large_orange">
                        <span>Cho vào giỏ</span> Cho vào giỏ để chọn tiếp
                    </a>
                </div>


                <div class="space"></div>
                <!-- AddThis Button BEGIN -->
                <!--<b>Hãy chia sẻ sản phẩm Vỏ case Xigmatek ASTRO: </b><br>-->
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox" style="text-align: left;"></div>
                <!--
                <table id="tbl_cacchinhsach" style="border:solid 1px #ddd; padding:3px;">
                    <tr>
                      <td style="padding:5px 10px;"><a href="#" style="margin-top:0"><img src="/template/default/images/icon-ct-sv.png" alt=""/><span> Giao hàng miễn phí lên tới 300km</span></a></td>

                      <td style="padding:5px 10px;"><a href="#" style="margin-top:0"><img src="/template/default/images/icon-ct-sv.png" alt=""/><span> Sản phẩm chính hãng 100%</span></a></td>

                    </tr>

                    <tr>
                      <td style="padding:5px 10px;"><a href="#" style="margin-top:0"><img src="/template/default/images/icon-ct-sv.png" alt=""/><span> Giao hàng trước trả tiền sau COD</span></a></td>
                     <td style="padding:5px 10px;"><a href="#" style="margin-top:0"><img src="/template/default/images/icon-ct-sv.png" alt=""/><span> Dùng thử sản phẩm trong 3 ngày</span></a></td>
                    </tr>
                    <tr>
                     <td style="padding:5px 10px;"><a href="#" style="margin-top:0"><img src="/template/default/images/icon-ct-sv.png" alt=""/><span> Giá cạnh tranh nhất thị trường</span></a></td>
                     <td style="padding:5px 10px;"><a href="#" style="margin-top:0"><img src="/template/default/images/icon-ct-sv.png" alt=""/><span> Bảo hành tận nơi sử dụng</span></a></td>
                    </tr>
                  </table>
                   -->
                <script>
                    $(document).ready(function () {
                        $("#title_tab_scroll_pro a").click(function () {
                            $("#title_tab_scroll_pro a").removeClass("current");
                            $(this).addClass("current");

                            //$(".content_scroll_tab").hide();
                            //$($(this).attr("href")).show();

                            $('body,html').animate({ scrollTop: $($(this).attr("href")).offset().top - 90 }, 800);
                            return false;
                        });
                        var get_top = 0;
                        if (get_top == 0) get_top = $("#title_tab_scroll_pro").offset().top;

                        $(window).scroll(function () {
                            if ($(window).scrollTop() > get_top - 80) $("#title_tab_scroll_pro").addClass("fixed");
                            else $("#title_tab_scroll_pro").removeClass("fixed");
                        });

                        $(".btn_image_link").click(function () {
                            $('body,html').animate({ scrollTop: $("#tab2").offset().top - 40 }, 800);
                            return false;
                        });
                        $(".btn_video_link").click(function () {
                            $('body,html').animate({ scrollTop: $("#tab6").offset().top - 40 }, 800);
                            return false;
                        });
                        $("#go_comment").click(function () {
                            $('body,html').animate({ scrollTop: $("#tab5").offset().top - 40 }, 800);
                            return false;
                        });
                    });
                </script>

            </div><!--overview-->
            <div class="clear"></div>
        </div><!--product_detail-->
        <div id="title_tab_scroll_pro" style="margin-top:0px;">
            <a href="#tab1">Thông số kỹ thuật</a>
            <a href="#tab2" class="current">Đặc điểm nổi bật</a>
            <a href="#tab3">Hình ảnh</a>
            <a href="#tab5">Video</a>
            @*<a href="#tab6">Đánh giá</a>*@
            <a href="#tab7">Tư vấn & bán hàng qua Facebook</a>
            <a href="#tab8">Sản phẩm liên quan</a>
        </div><!--title_tab_scroll_pro-->
        <div class="clear"></div>
        <div id="tab1" class="content_scroll_tab" style="display:block;">
            <h2 class="cufon title_box_scroll">Thông số kỹ thuật</h2>


            <div class="clear"></div>
        </div><!--content_scroll_tab-->
        <div id="tab2" class="content_scroll_tab">
            <h2 class="cufon title_box_scroll">Đặc điểm nổi bật</h2>
            @Html.Raw(Model.post.PostContent)
            <div class="clear"></div>
        </div><!--content_scroll_tab-->
        <div id="tab3" class="content_scroll_tab">
            <h2 class="cufon title_box_scroll">Hình ảnh</h2>

            <script type="text/javascript" language="javascript" src="@Html.ThemeUrl()/Content/script/mobiSlider.js"></script>
            <script>
                $(function () {

                    $('.slider').mobilyslider({
                        content: '.sliderContent',
                        children: 'div',
                        transition: 'horizontal',
                        animationSpeed: 200,
                        autoplay: false,
                        autoplaySpeed: 5000,
                        pauseOnHover: false,
                        bullets: true,
                        arrows: true,
                        arrowsHide: true,
                        prev: 'prev',
                        next: 'next',
                        animationStart: function () { },
                        animationComplete: function () { }
                    });

                });
            </script>
            <div class="slider" align='center'>
                <div class="sliderContent">
                    @for (int i = 0; i < img.Length; i++)
                    {
                        <div class="item">
                            <img src="@img[i]" alt="@Model.product.Name" title="Click để xem ảnh lớn" />
                        </div>
                    }
                </div>
            </div>

            <div class="clear"></div>
        </div><!--content_scroll_tab-->

        <div id="tab5" class="content_scroll_tab">
            <h2 class="cufon title_box_scroll">Video</h2>

            <div class="clear"></div>
        </div>
        <!--content_scroll_tab
        <div id="tab3" class="content_scroll_tab">
          <h2 class="cufon title_box_scroll">Driver & Software</h2>

          <div class="clear"></div>
        </div><!--content_scroll_tab-->
        <div id="tab7" class="content_scroll_tab">
            <h2 class="cufon title_box_scroll">Tư vấn bán hàng qua Facebook</h2>
            <div class="fb-comments" data-href="@(Html.Settings("WebsiteUrl"))@AppHelpers.ProductUrls(Model.Cat.Id, Model.product.Slug)" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
        </div><!--tab7--><!--content_scroll_tab-->
        @*<div id="tab6" class="content_scroll_tab">
                <h2 class="cufon title_box_scroll">Đánh giá</h2>

                <form action="/ajax/post_comment.php" method="post" enctype="multipart/form-data" onsubmit="return check_field(0)" class="form-post">
                    <!--<p>(Vui lòng điền đầy đủ thông tin hoặc đăng nhập bằng tài khoản <a href="javascript:open_oauth('Facebook')" style="color:blue;">Facebook</a> hoặc <a href="javascript:open_oauth('Google')" style="color:blue;">Gmail</a>)</p>-->
                    <input type=hidden name='user_post[item_type]' value='product' />
                    <input type=hidden name='user_post[item_id]' value='2240' />
                    <input type=hidden name='user_post[item_title]' value='Vỏ case Xigmatek ASTRO' />
                    <input type=hidden name='user_post[rate]' value='0' />
                    <input type=hidden name='user_post[title]' value='Vỏ case Xigmatek ASTRO' />
                    <input type=hidden name='user_post[user_email]' value='' />
                    <input type=hidden name='user_post[user_name]' value='' />
                    <input type=hidden name='user_post[user_avatar]' value='' />

                    <div>
                        <div class="info_comment">
                            <input type="hidden" id="name1" name='user_post[user_name]' placeholder="Nhập tên bạn" value="" />
                            <input type="hidden" id="email1" name='user_post[user_email]' placeholder="Nhập email của bạn" value="" />
                            <input type=hidden name='user_post[user_avatar]' value='0' />
                        </div>
                        <textarea name="user_post[content]" style="width: 99%;" cols="60" rows="6"
                                  value="Nội dung chi tiết" onfocus="if(this.value=='Nội dung chi tiết')this.value='';"
                                  onblur="if(this.value=='')this.value='Nội dung chi tiết';" id="content0"></textarea>
                        <ul id="review_rating">
                            <li class="first">Đánh giá sản phẩm: </li>
                            <li><input type="radio" id="rating-input-review-0-5" name="user_post[rate]" value="5" checked="checked" /> <img src="/template/default/images/star_5.png" alt="" /></li>
                            <li><input type="radio" id="rating-input-review-0-4" name="user_post[rate]" value="4" /> <img src="/template/default/images/star_4.png" alt="" /></li>
                            <li><input type="radio" id="rating-input-review-0-3" name="user_post[rate]" value="3" /> <img src="/template/default/images/star_3.png" alt="" /></li>
                            <li><input type="radio" id="rating-input-review-0-2" name="user_post[rate]" value="2" /> <img src="/template/default/images/star_2.png" alt="" /></li>
                            <li><input type="radio" id="rating-input-review-0-1" name="user_post[rate]" value="1" /> <img src="/template/default/images/star_1.png" alt="" /></li>
                        </ul>
                        <!--
                    <img id="captchaimg" src="/includes/captcha/captcha.php?v=" /><br />
                    <input type="text" style="width:150px" name="captcha"  placeholder="Nhập mã xác nhận"/> (<a id="change-image" onclick="document.getElementById('captchaimg').src='/includes/captcha/captcha.php?'+Math.random();" href="javascript:;">Xem mã khác</a>)-->
                    </div><!--div-->
                    <div class="c5"></div>

                    <input type="button" value="Đăng nhập để gửi bình luận" class="btn_orange" onclick="location.href='/dang-nhap?return_url=https://gland.vn:443/vo-case-xigmatek-astro/'" />


                    <div class="c5"></div>
                </form>
                <br>

                <p>Hiện tại chưa có ý kiến đánh giá nào về sản phẩm. Hãy là người đầu tiên chia sẻ cảm nhận của bạn.</p>


                <script>
                    function check_field(id) {
                            var error = "";
                            var content = document.getElementById("content" + id).value;
                            //var captcha = document.getElementById('comment-capcha'+id).value;


                            if (content == '') error += "Bạn chưa nhập nội dung\n";
                            /*
                             if(captcha=='') error+="Bạn chưa nhập mã kiểm tra"
                             else {
                             var check_captcha = $("#check_captcha"+id).val();
                             if(check_captcha!='') error+=check_captcha;
                             }
                             */
                            if (error == '') return true;
                            else {
                                alert(error);
                                return false;
                            }
                        };
                </script>
                <div class="clear"></div>
            </div>*@
        <div id="tab8" class="content_scroll_tab">
            <h2 class="cufon title_box_scroll">Sản phẩm liên quan</h2>
            <div class="product_list page_inside">
                <ul class="ul">
                    @foreach (var item in AppHelpers.Products(Model.Cat, 5))
                    {
                        @Html.Partial("_ProductItem", item);
                    }
                </ul>
            </div><!--prouduct_list-->
            <div class="clear"></div>
        </div><!--content_scroll_tab-->
    </div><!--pro_detail_page-->
</div>
