@model  CategoryProductListViewModel
@{
    ViewBag.Title = "Sản phẩm";
}
@Html.Partial("_Header")
<div class="mainbody">
    <div class="bgblack mglra10 row wcontentbody">
        <div class="productnews">
            <div class="contentboxfilter">
                <div class="w-row">
                    <div class="w-col w-col-6 w-col-small-12">
                        <div class="div-block-4">
                            <h1 class="heading-8">SẢN PHẨM</h1>
                            <div class="text-block-3">(@Model.Paging.Count sản phẩm)</div>
                        </div>
                    </div>
                    <div class="w-col w-col-6 w-col-small-12">
                        <!-- Start box filter -->
                        <div class="filter w-clearfix">
                            <div class="thuonghieu w-clearfix">
                                <h3 class="heading-9">Sắp xếp:</h3>
                                <div class="form-block-2">
                                    <form action="." id="form-ord" name="form-ord" data-name="Form ord" class="form w-clearfix">
                                        <select class="select-field w-select controlSort">
                                            <option value="price-asc">Giá tăng dần</option>
                                            <option value="price-desc">Giá giảm dần</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- End box filter -->
                    </div>
                </div>
                <div class="tabfilter">
                    <ul class="unordered-list-4 w-list-unstyled"> </ul>
                </div>
            </div>
            @*<div class="box category-description w-clearfix">
                @Html.Raw(Model.Group.Description)
            </div>*@
            <div class="wpcontentcategory">
                <div class="_w-container w-container">
                    <div class=" w-row">
                        @foreach (var it in Model.ListProduct)
                        {
                            @Html.Partial("_ProductItem", it)
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("_Paging", Model.Paging)
        </div>
    </div>
</div>