
@{
    ViewBag.Title = "Index";
}


@*<div class="row dashboardrow">

    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardtodaystopics">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardlowestpointposts">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>

<div class="row dashboardrow">
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardlatestusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardlowestpointusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>

<div class="row dashboardrow">
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardhighestviewedtopics">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="mvcforumlatestnews">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>*@
