@model  AdminEmailSettingViewModel

@{
    ViewBag.Title = "Cài đặt hòm thư";
}

@using (Html.BeginForm("Email", "Setting", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">@ViewBag.Title</h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.InEmail)
                    @Html.TextBoxFor(model => model.InEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InEmail)
                </div>
            </div>
        </div>
    </div>

    <div class="submit-holder">
        <button type="submit" class="btn-mvc-green btn-mvc-large">Lưu cài đặ</button>
    </div>
}
